*.cachefile
*.Generated.cs
*.metaproj
*.tmp
*.gvwx
BrakeNeck/BrakeNeck/obj/
*.suo
BrakeNeck/BrakeNeck/bin/
*.FileListAbsolute.txt
BrakeNeck/BrakeNeckContent/obj/
*.aeproperties
.vs/
BrakeNeck/BrakeNeck/GlueSettings/glueview.embeddedplugins.cameracontrolsplugin.mainplugin.settings.json
